body{
	width: 100%;
	margin: 0 auto;
}
header{
	background-color: #990000;
	width: 100%;
	border:1px solid red;
	height: 40px;
}
.vietnam{
	width: 25px;
}
.US{
	width: 20px;
}
  ul li {
	float: left;
	list-style-type: none;
	text-decoration: none;
}
.phone{
	width: 20px;
	margin-left: 40px;
	margin-top: -5px;
}
.text{
	margin-top: -22px;
	margin-left: 65px;
	color: white;
	text-decoration: none;
}
.mail{
	width: 20px;
	margin-left: 40px;
	margin-top: -5px;
}
.eUni{
	width: 20px;
	margin-left: 60px;
	margin-top: -50px;
}
.text1{
	margin-top: -27px;
	padding-left: 40px;
	text-decoration: none;
	color: blue;
	border:1px solid grey;
	height: 30px;
	margin-left: 40px;
	background-color: grey;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	border-radius: 15px;
}
section{
	width: 100%;
	height: 40px;
	border:1px solid red;
	background-color: red;
	display: inline-table;
	position: relative;
	margin-top: -16px;
}
.logo{
	width: 100px;
	margin-top: -10px;
}
.home{
	width: 20px;
	margin-left: 10px;
}
.phone1{
	text-decoration: none;
	font-weight: bold;
	color: white;
	list-style-type: none;
}
.myDTU{
	width: 20px;
	margin-left: 60px;
	margin-top: -50px;
}
img . mydtu{
	margin-top: -5px;
}
.Find{
	margin-left: 80px;
}
form{
	margin-top: -5px;
}
ul li .active{
	list-style-type: none;
	text-decoration: none;
	padding-left: 10px;
	color: white;
	font-weight: bold;
}
ul li .active:hover{
	background:#808080;
	color: white;
}
 ul li>.menu2{
	display: none;
	position: absolute;
}
 ul li:hover>.menu2{
	display: block;
}
.sub-menu{
	border:1px solid white;
	background-color: white;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin-top: 0px;
}
ul li .box:hover{
	background:#808080;
	color: white;
}
ul li .box{
	list-style-type: none;
	text-decoration: none;
	padding-left: 5px;
}
ul li>.sub-menu{
	display: none;
	position: absolute;
}
 ul li:hover>.sub-menu{
	display: block;
}
ul li >.box, .box1{
	margin-top: 62px;
	margin-left: -20px;
	padding-right:30px;
	color: black;
	font-size: 20px;
	line-height: 60px;
	width: 50%;
}
.about1{
	width: 10%;
}
.active2{
	float: left;
	list-style-type: none;
	text-decoration: none;
	padding-bottom: 10px;
	color: black;
	font-weight: bold;
}
ul li .about0{
	display: none;
	position: absolute;
	width: 100%;
	list-style-type: none;
	text-decoration: none;
	margin-top: 50px;
}
ul li:hover>.about0{
	display: block;
}
.sub-text{
	float: left;
	width: 60%;
	background-color: white;
}
ul li .about1{
	display: none;
	position: absolute;
	float: left;
	margin-left: -200px;
	list-style-type: none;
	text-decoration: none;
	margin-top: 20px;
}
ul li:hover>.about1{
	display: block;
}
.box1{
	background-color: black;
	color: white;
	border:1px solid black;
	margin-right: 30px;
	text-decoration: none;
}
ul li>.sub-text{
	display: none;
	position: absolute;
}
 ul li:hover>.sub-text{
	display: block;
}
.achievement{
	width: 100%;
}
.about2{
	width: 20%;
}
ul li .about2{
	display: none;
	position: absolute;
	float: right;
	margin-left: 57%;
	list-style-type: none;
	text-decoration: none;
	margin-top: 20px;
}
ul li:hover>.about2{
	display: block;
}
.truong{
	width: 100%;
}
.active3{
	float: left;
	list-style-type: none;
	text-decoration: none;
	padding-bottom: 10px;
	color: white;
	font-weight: bold;
	border:1px solid orange;
	background-color: red;
}
.active4{
	float: left;
	list-style-type: none;
	text-decoration: none;
	padding-bottom: 10px;
	color: red;
	font-weight: bold;
}
ul li .list2{
	color: black;
	font-weight: bold;
}
.achievement1{
	float: left;
	width: 49%;
	height: 400px;
}
.achievement2{
	float: left;
	width: 50%;
	height: 400px;
	margin-top: -36px;
}
.graduation{
	width: 30%;
	float: left;
}
ul li>.graduation{
	display: none;
	position: absolute;
}
 ul li:hover>.graduation{
	display: block;
}
.sub-menu .sub-text{
	float: left;
	width: 30%;
}
nav{
	background-color: #c2d6d6;
	border:1px solid white;
	height: 380px;
	width: 100%;
	margin-top: 700px;
}
footer{
	border:1px solid grey;
	background-color: #262626;
	height: 300px;
	width: 100%;
}
.duytan{
	float: left;
	width: 40%;
}
.Sitemap{
	border-bottom: 2px solid grey;
	width: 40%;
	font-size: 30px;
	margin-top: 130px;
}
.a-z{
	margin-top: 5px;
	font-size: 16px;
	width: 100%;
}
#blockquote{
	float: left;
	width: 47%;
}
q{
	font-size: 20px;
}
.help{
	width: 20%;
	float: left;
	color: white;
}
.text-help{
	list-style-type: none;
	color: white;
	float: left;
}
.help1{
	width: 30%;
	float: left;
}
.web{
	color: white;
	float: left;
}
.educa{
	padding-top: 15px;
	color: white;
	float: left;
}
.liba{
	padding-top: 15px;
	color: white;
	float: left;
}
.copy{
	margin-top: 170px;
	float: none;
	border-top: 2px solid white;
	width: 100%;
	text-align: center;
	color: white;
}
.conta{
	border-bottom: 2px solid red;
	color: red;
}
.imageTruong{
	float: left;
}
.daihocduytan{
	width: 36%;
	float: left;
}
.diachi{
	float: left;
}
content{
	width: 100%;
}
.DUYTANuniversity{
	font-size: 30px;
	text-indent: 10px;
}
.map{
	float: left;
	width: 58%;
	height: 700px;
}