body{
	color: red;
	height:634px;
	width: 500px;
	border: 2px solid red;
}
header{
	color: purple;
	height: 98px;
	width: 488px;
	padding: 2px;
	margin: 2px;
	border: 2px solid red;
	text-align: center;
	line-height: 50px
}
section{
	color: purple;
	height: 48px;
	width: 488px;
	padding: 2px;
	margin: 2px;
	border: 2px solid red;
	text-align: center;
	line-height: 25px;
}
nav{
	color: purple;
	height: 398px;
	width: 488px;
	padding: 2px;
	margin: 2px;
	border: 2px solid red;
	text-align: center;
	line-height: 200px;
}
footer{
	color: purple;
	height: 48px;
	width: 488px;
	padding: 2px;
	margin: 2px;
	border: 2px solid red;
	text-align: center;
	line-height: 25px
}