body{
	width: 80%;
	margin: 0 auto;
}
form{
	border: 1px solid #ada;
	width: 90%;
	height: 280px;
	background-color: #ada;

}
h1{
	color: blue;
}
p{
	text-indent: 80px;
}
.symbol{
	color: red;
}
#displayName{
	margin-left: 60px;
	height: 30px;
	width: 23.3%;
}
#displayDate{
	margin-left: 10px;
}
#displayGender{
	margin-left: 45px;
}
#displayNumber{
	margin-left: 54px;
	height: 30px;
}
#displaySubmit{
	margin-left: 110px;
	background-color: #fac;
	height: 30px;
}
#errorDate, #errorMonth, #errorYear, #errorName, #errorPhone{
	color: red;
}
#date, #month {
	width: 30px;
	height: 30px;
}
 #year{
 	width: 50px;
 	height: 30px;
 }
 #negativeDate{
 	color: red;
 	text-align: center;
 }
 #list{
 	font-size: 30px;
 	color: orange;
 	background-color: yellow;
 	width: 90%;
 	height: 200px;
 }
 #display{
 	margin-top: 20px;
 }
 #display, #display1, #display2,  #display3, #display4{
 	font-size: 20px;
 	color: black;
 	text-indent: 30px;
 }

