*{
	text-align: center;
	padding:0;
	margin: 0;
}
.container{
	width: 90%;
	border:1px solid green;
	margin: 0 auto;
}
header{
	height: 100px;
	border-bottom: 1px solid green;
}
.logo{
	height: 100px;
	width: 33%;
	border-right: 1px solid green;
	float: left;
}
.banner{
	height: 100px;
	float: left;
	width: 66.5%;
}
#main{
	height: 400px;
}
@media screen and (max-width: 768px){
	.logo{
		width: 49.8%;
	}
	.banner{
		width: 49.8%;
	}
}
@media screen and (max-width: 555px){
	.logo{
		width: 30%;
	}
	.banner{
		width: 30%;
	}
}
@media screen and (max-width: 480px){
	.logo{
		width: 20%;
	}
	.banner{
		width: 20%;

	}
}