ol { 

	counter-reset: item ;
}
li{
	 display: block ;
}
li:before {
	 content: counters(item, ".") " "; 
	 counter-increment: item 
}
body{
	width: 70%;
	height: 669px;
	margin: 0 auto;
	margin-top: 16px;
	border:5px solid grey;
	border-left: none;
	border-top: none;
}
.box{
	height: 70px;
	width: 97%;
	background-color: #66a3ff;
	border:  10px dashed grey;
	border-right: none;
	border-left: none;
}
.brand{
	float: left;
	height: 30px;
	width: 30%;
	margin-left: none;
	background-color: #b3d1ff;
	text-align: center;
	line-height: 20px;
}
.global{
	float: left;
	height: 30px;
	width: 33%;
	margin-left: 20px;
	background-color: #b3d1ff;
	text-align: center;
	line-height: 20px;
}
.tools{
	float: left;
	height: 28px;
	width: 30%;
	margin-left: 20px;
	background-color: #b3d1ff;
	text-align: center;
	line-height: 20px;
}
.box1{
	width: 68%;
	height: 110px;
	float: left;
	background-color: #66a3ff;
	margin-top: 15px;
}
.heroFeture{
	height: 80px;
	width: 55%;
	background-color: #b3d1ff;
	float: left;
	text-align: center;
	line-height: 60px;
}
.heroColl{
	height: 80px;
	width: 40%;
	background-color: #b3d1ff;
	margin-left: 13px;
	float: left;
	text-align: center;
	line-height: 50px;
}
.box2{
	float: left;
	height: 110px;
	width: 27.5%;
	margin-left: 15px;
	margin-top: 15px;
	background-color: #0040ff;
	text-align: center;
	line-height: 85px;
}
.box3{
	width: 68%;
	height: 260px;
	float: left;
	background-color: #66a3ff;
	border-top: 10px dashed grey;
	margin-top: 15px;
}
.articleFeature{
	height: 210px;
	width: 30%;
	background-color: #b3d1ff;
	float: left;
	text-align: center;
	line-height: 170px;
}
.articalListing{
	height: 210px;
	width: 65%;
	background-color: #b3d1ff;
	float: left;
	margin-left: 15px;
	text-align: center;
	line-height: 170px;
}
.box4{
	float: left;
	height: 260px;
	width: 27.5%;
	background-color: #66a3ff;
	margin-left: 15px;
	margin-top:15px;
	border-top: 10px dashed grey;
}
.sidebar{
	height: 210px;
	width: 81%;
	background-color: #b3d1ff;
	text-align: center;
	line-height: 170px;
}
.box5{
	height: 120px;
	width: 97%;
	float: left;
	background-color: #66a3ff;
	margin-top: 15px;
	border-bottom: 10px dashed grey;
	border-top: 10px dashed grey;
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){
	body{
		width:70%;
		height: 750px;
		border:5px solid grey;
		border-bottom: none;
		border-top: none;
		padding-top: 8px;
	}
	.global{
		width: 35%;
	}
	.brand{
		width: 25%;
	}
	.tools{
		width: 25%;
	}

	.heroFeture{
		width: 99%;
		height: 40px;
		margin-bottom: 5px;
	}
	.heroColl{
		width: 99%;
		height: 40px;
		margin: 0;
		
	}
	.box1{
		width: 97%;
	}
	.box3{
		width: 70%;
		height: 280px; 
  		border-top: none;
	}
	.articleFeature{
		width: 100%;
		height: 60px;
		float: left;
		text-align: center;
		line-height: 60px;
		margin-bottom: 38px;
	}
	.articalListing{
		width: 147%;
		height: 160px;
		text-align: center;
		line-height: 100px;
		padding: 0;
		margin: 0;
	}
	.box2{
		width: 26%;
		float: right;
		height: 100px;
		padding-right: 2px;
		padding:0;
	}
	.box4{
		width: 97%;
		height: 70px;
		 margin: 0;
  		padding: 0;
  		margin-top: 10px;
  		margin-right: 10px;

	}
	.sidebar{
		width: 97%;
		height: 40px;
		text-align: center;
  		line-height: 25px;
	}
	#main{
		width: 97%;
		height: 300px;
		background-color: #66a3ff;
		margin-top: 140px;
	}
	.box5{
		height: 70px;
	}
	
}
@media screen and (max-width: 480px){
	body{
		height: 420px;
		border: 5px solid grey;
		border-right: none;
		border-top: none;
		border-bottom: 5px solid grey;
	}
	.box{
		height: 80px;
	}
	.brand{
		width: 100%;
		height: 20px;
	}
	.global{
		height: 20px;
		width: 45%;
		float: left;
		margin-top: 5px;
		text-align: center;
		line-height: 10px;
		margin-left: 1px;
	}
	.tools{
		height: 20px;
		width: 46%;
		float: left;
		margin-top: 5px;
		padding: 0px;
	}
	.box1{
		height: 50px;
		margin-top: 10px;
	}
	.heroFeture{
		display: none;
	}
	.heroColl{
		height: 30px;
		width: 100%;
		text-align: center;
		line-height: 17px;

	}
	.box3{
		height:5px;
		width: 100%;
		background-color: #66a3ff;
		margin-top: -43px;
	}
	#main{
		width: 97%;
		height: 100px;
		margin-top:70px;
	}
	.articleFeature{
		width: 100%;
		height: 20px;
		text-align: center;
		line-height: 10px;
		margin-top: 30px;
	}
	.box2{
		width: 86%;
		height: 30px;
		text-align: center;
		line-height: 18px;
		margin-top: 10px;
	}
	.articalListing{
		height: 23px;
		
		width: 100%;
		text-align: center;
		line-height: 17px;
		margin-top: -30px;
	}
	
	.box4{
		width: 0%;
		display: none;
	}
	.box5{
		
	}
	.heroColl{
		height: 30px;
		width: 100%;

	}
}
