/*nav {
	border:2px solid grey;
	width: 300px;
	box-shadow: 3px 4px 3px grey;
}
nav p {
	font-weight: bold;
	padding-left: 10px;
}
ul li {
	list-style-type: none;
	border: 1px solid blue;
	padding: 10px;
	width: 200px;
	margin-bottom: 10px;
}
a {
	text-decoration: none;
}
li.active {
	background-color: #ada;
	font-weight: bold;
}*/
nav{
	border:2px solid grey;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	box-shadow: 3px 4px 3px grey;
	float: left;
}
.active1{
	float: left;
	list-style-type: none;
	margin-right: 10%;
	border:1px solid black;
}
