body{
	background-image: linear-gradient(to left, yellow,orange);
	min-height: 500px;

}
.containers{
	background-color: #fff;
	border:1px solid black;
	border-radius: 40px;
	box-shadow: 12px 4px 4px grey;
	width: 80%;
	margin: 0 auto;
	float: left;
}
header{
	border-bottom: 2px solid orange;
	width: 100%;
}
nav{
	float: left;
	width: 58%;
	border-right: 2px solid orange;
	height: 500px;
}
img{
	float: left;
}
h1{
	color: green;
	text-shadow: 3px 4px 5px grey;
}
h4{
	color: green;
	padding-bottom: 40px;
}
.color{
	color: grey;
}
.color1{
	color: green;
}
.demo{
	text-indent: 40px;
}
.address{
	float: right;
	border-bottom: 2px solid orange;
}
.text1{
	text-indent: 40px;
}
section{
	float: left;
	width: 40%;
	padding-top: 0px;
	height: 500px;
}
.text{
	color: green;
	font-weight: bold;
}
footer{
	float: right;
	padding-right:30px;
	padding-bottom: 10px;
}
@media screen and(max-width: 1024px){

}
@media screen and (max-width: 768px){
	section{
		width: 100%;
	}
	nav{
		width: 100%;
		border-right: none;
	}
	.containers{
		width: 100%;
	}

}
@media screen and (max-width: 480px){
	section{
		display: none;
	}

}