body{
	margin: 0 auto;
	width: 80%;
	padding-top: 10px;
}
.image{
	height: 180px;
	width: 15%;
	background: #33adff;
	background-image: url('avatar1.png');
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}
.headers{
	float: left;
	height: 180px;
	width: 70%;
	background-color: #ffff00;
	margin-top: 0px;
	list-style-type: none;
}
.item1{
	color: blue;
	font-size: 30px;
}
.item2,.item3,.item4{
	padding-top: 15px;
}
.career{
	height: 120px;
	width: 15%;
	background-color: #33adff;
	text-align: center;
	float: left;
	line-height: 80px;
	padding-left: 0px;
	text-align: center;
	color: white;
	text-align: center;
	font-weight: bold;
}
.contentCareer{
	height: 120px;
	width: 70%;
	float: left;
	padding-left: 37px;
	margin-top: 10px;
}
.objective{
	height: 120px;
	width: 15%;
	background-color: #33adff;
	float: left;
	line-height: 80px;
	padding-left: 0px;
	text-align: center;
	color: white;
	text-align: center;
	font-weight: bold;
}
.objectiveContent{
	height: 120px;
	width: 70%;
	float: left;
	padding-left: 37px;
	padding-top: 10px;
}
.skill{
	height: 120px;
	width: 15%;
	background-color: #33adff;
	text-align: center;
	font-weight: bold;
	float: left;
	line-height: 80px;
	text-align: center;
	color: white;
}
.SkillContent{
	height: 120px;
	width: 80%;
	float: left;
	margin-left: -30px;
	padding-left: 25px;
}
.SkillContent ul li{
	list-style-type: none;
}
.experience{
	float: left;
	height: 540px;
	width: 15%;
	background-color: #33adff;
	text-align: center;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	color: white;
	margin-top: 10px;
}
.First{
	list-style-type: none;
	float: left;
	color: blue;
	background-color: #ffff00;
	width: 70%;
	height: 80px;
	margin-top:10px;
	padding-top: 20px;
	font-weight: bold;
}
.Networking{
	float: left;
	width: 70%;
	height: 80px;
	margin-top: -25px;
}
.Leadership{
	float: left;
	width: 70%;
	height: 80px;
	margin-top: -20px;
}
.second{
	list-style-type: none;
	float: left;
	color: blue;
	background-color: #ffff00;
	width: 70%;
	height: 80px;
	margin-top: 40px;
	padding-top: 20px;
	font-weight: bold;
}
.Research{
	float: left;
	width: 70%;
	height: 80px;
	margin-top: -20px;
	margin-bottom: 84px;
}
.education{
	float: left;
	height: 60px;
	width: 15%;
	background-color: #33adff;
	text-align: center;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	color: white;
	margin-top: -23px;
}
.educationContent{
	float: left;
	width: 72.7%;
	height: 40px;
	padding-left: 37px;
	background-color: #ffff00;
	font-weight: bold;
	margin-top: -3px;
	line-height: 36px;
	color: blue;
}
.reference{
	float: left;
	height: 60px;
	width: 15%;
	background-color: #33adff;
	text-align: center;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	color: white;
	margin-top: 10px;

}
.referenceContent{
	float: left;
	width: 70%;
	height: 70px;
	padding-left: 37px;
	margin-top: 30px;
}
.demo{
	margin-left: -15px;
}