table{
	background-color: #808080;
	margin: auto;
}
.btn{
	height: 32px;
	width: 34px;
	text-align: center;
	background-color: #dddddd
}
#result{
	width: 224px;
	height: 38px;
}
#equals{s
	width: 34px;
	height: 74px;
	background-color: green;
}
#zero{
	height: 32px;
	width: 75px;
}