#myBox1{
	height: 50px;
	width: 50px;
	position: absolute;
	font-size: 13px;
	margin-top: 50px;
	float: left;
	border-right: 1px solid black;
}
#myBox2{
	height: 50px;
	width: 50px;
	position: absolute;
	font-size: 13px;
	margin-top: 50px;
	float: left;
}
#myBox{
	height: 50px;
	width: 50px;
	background-color: #ada;
	position: absolute;
	font-size: 13px;
	margin-top: 50px;
	float: left;
	border-right: 1px solid black;
}