#myBox1{
	position: absolute;
	margin-top: 10px;
}
#myBox2{
	position: absolute;
	margin-top: -60px;
}
#myBox{
	height: 50px;
	width: 50px;
	background-color: #ada;
	position: absolute;
	font-size: 13px;
	margin-top: 30px;
}
.runMyBox, .showHide{
	display: none;
}
#myBox{
	display: none;
}
.runImage{
	text-align: center;
	font-size: 40px;
	color: red;
	margin-top: -30px;
}
#myBox3{
	position: absolute;
	font-size: 13px;
	margin-top: 70px;
}
#myBox4{
	position: absolute;
	margin-top: 130px;
}
#myBox5{
	position: absolute;
	margin-top: 230px;
}
#myBox6{
	position: absolute;
	margin-top: 340px;
}
.runImage2{
	border: 1px solid black;
	margin-top: 100px;
	width: 100%;
}
header{
	border:1px solid black;
	transform: rotate(90deg);
	width: 17%;
	margin-top: 115px;
	margin-left: 490px;
}
nav{
	border: 1px solid black;
	margin-top: 110px;
	width: 45.2%;
}
footer{
	border:1px solid black;
	transform: rotate(90deg);
	width: 3%;
	margin-top: 20px;
	margin-left: -20px;
}
span{
	margin-left: 10px;
	border: 1px dashed black;
}